<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuffrageApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/scss/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body class="d-flex">
    
        <div class="p-3" style="width:20%; height: 100vh; position: sticky; top: 0">
            <div class=" h-100 d-flex flex-column align-items-center" style="border-radius: 15px; background-image: url(/3.jpg);">
                <div class="d-flex flex-column text-center">
                    @*<a class="text-nowrap" asp-controller="Home" asp-action="Index">
                        <img src="~/logo.svg" width="100" height="100" alt="SolarBoard" class="mt-4 ml-4">
                    </a>*@
                    <i class="material-icons text-white pt-4" style="font-size: 100px">check_circle</i>
                    <h1 class="text-white pt-2">Suffrage App</h1>

                </div>
                <div class="mt-5 w-100">
                    <ul class="list-group list-group-flush  pl-3">
                        <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action text-white active"><i class="material-icons mr-2">home</i>Элемент основной</a>
                        <a asp-controller="Home" asp-action="Privacy" class="list-group-item list-group-item-action text-white"><i class="material-icons mr-2">accessibility</i>Дополнительный элемент</a>
                        <a href="#" class="list-group-item list-group-item-action text-white"><i class="material-icons mr-2">announcement</i>Элемент действий</a>
                        <a href="#" class="list-group-item list-group-item-action text-white"><i class="material-icons mr-2">assessment</i>Элемент группы </a>
                    </ul>
                </div>
                <div class="mb-4 mt-auto" >
                    <button class="btn btn-secondary d-flex justify-content-center ">
                        <i class="material-icons mr-2">logout</i>Logout
                    </button>
                </div>

            </div>
        </div>


        <div class="p-3" style="width:80%; ">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link mx-2 text-info" href="#"><h5>Home</h5> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item mx-2 text-info">
                                <a class="nav-link text-info" href="#"><h5>Link</h5></a>
                            </li>
                            <li class="nav-item mx-2 text-info">
                                <a class="nav-link disabled" href="#"><h5>Disabled</h5></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 bg-secondary border-0" style="border-radius: 15px" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </header>

            <main role="main" class="">

                @RenderBody()

            </main>

            <footer class="footer">
                <div>
                    
                </div>
            </footer>
        </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
