@using Microsoft.AspNetCore.Identity
@using Infrastructure.Data.Identity

@inject SignInManager<IdentityAppUser> SignInManager
@inject UserManager<IdentityAppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="mb-4 mt-auto d-flex flex-column justify-content-center">
        <a class="btn btn-link text-white mb-2" style="text-shadow: 2px 2px 6px rgba(0,0,0,0.50);" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
        <form class="d-flex justify-content-center" method="post" asp-controller="Account" asp-action="Logout">
            <button class="btn text-white d-flex justify-content-center " type="submit">
                <i class="material-icons mr-2">logout</i><span class="d-none d-lg-inline" style="text-shadow: 2px 2px 6px rgba(0,0,0,0.50);">Logout</span>
            </button>
        </form>
    </div>
}
else
{
    <div class="mb-4 mt-auto d-flex flex-column justify-content-center">
        <a class="btn  text-white d-flex justify-content-center "  asp-controller="Account" asp-action="Login">
            <span style="text-shadow: 2px 2px 6px rgba(0,0,0,0.50);">Login</span>
        </a>
        <a class="btn btn-link text-white d-flex justify-content-center " asp-controller="Account" asp-action="Register">
            <span style="text-shadow: 2px 2px 6px rgba(0,0,0,0.50);">Register</span>
        </a>
    </div>
}

