/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */



.list-group-item {
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px !important;
    margin-top: 4px;
    border: 0px;
display: flex;
    background-color: rgba(255, 255, 255, 0) !important;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: white !important;
}

.active {
    background-color: rgba(255, 255, 255, 1) !important;
    color: black !important;
}

.active:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: black !important;
}

.btn {
    border-radius: 15px !important;
}